.email-subheader {
width: 100%;
text-align: center;
color: white;
font-size: 24px;
font-weight: 400;
font-family: 'Poppins', sans-serif;
}

.email-form {
    width: 500px;
    display: block;
    margin-left: 33%;
}

.form-control {
    border-radius: 25px;
    height: 50px;
}

.email-placeholder {
    position: absolute;
    padding-left: 70px;
    display: block;
    width: 600px;
}

#email-button {
    width: 80px;
    height: 35px;
    border-radius: 30px;
    background-color: #fff;
    border: solid grey 1px;
    outline: none;
    color: black;
    position: relative;
    margin-top: 7px;
    left: 250px !important;
}

  #email-button:hover {
    background-color: #F5AF00;
    z-index: 2 !important;
  }
  #email-button:focus {
    background-color: #E0A100;
  }
  
  .email-icon {
    z-index: 1 !important;
    background-color: rgba(76, 175, 80, 0);
}

.email-icon-position {
    width: 30px;
    padding-top: 10px;
    margin-left: -230px;
}