.css-1a0kptf-control {
    border: none !important;
}

.css-b62m3t-container {
    width: 280px !important;
}

.css-tlfecz-indicatorContainer {
    padding-right: 20px;
}

.css-14el2xx-placeholder {
    padding-left: 40px !important;
}

.css-qc6sy-singleValue {
    padding-left: 40px !important;
}

.css-tlfecz-indicatorContainer {
    color: #000 !important;
}

.css-1okebmr-indicatorSeparator {
    display: none;

}

.css-1hb7zxy-IndicatorsContainer {
    border-right: solid 0.5px black !important;

}

.css-4ljt47-MenuList {
    border-radius: 0 0 0 0;
    background-color: white;
}